# Target config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y

# Root filesystem images
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_GRUB_IMAGES is not set
CONFIG_GRUB_EFI_IMAGES=y

# Image Options
CONFIG_TARGET_ROOTFS_PARTSIZE=300

# LuCI Applications
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-proto-wireguard=y

# LuCI Themes
CONFIG_PACKAGE_luci-theme-argon=y

# Utilities
# CONFIG_PACKAGE_bandwidthd=y
